.group{
	-fx-font-size:50px;
}

#menutext{
	-fx-font-size:25px;
	-fx-text-alignment: center;
	-fx-fill: white;
	
}

.button:hover{
	-fx-background-color: darkslateblue;
	-fx-text-fill: white;
	
}

